<template>
  <div>
    <Calculation/>
  </div>
</template>

<script>
import Calculation from '@/components/Calculation.vue'

export default {
  name: 'home',
  components: {
    Calculation,
  },
};
</script>

<style scoped lang="scss">
</style>
