<template>
   <div class="wrapper">
      <div class="header">
         Дополнительные пакеты
      </div>
      <Packages
         v-for="(Package, index) in PackageList" 
        :key="Package.id"
        :index="index"
        v-bind="Package"
        @change-status="changeStatus"
        class="package"
      />
      <div>
         Стоимость:
         <input 
            type="text" 
            :value="packageCalculation" 
            readonly
         />
      </div>
   </div>   
</template>

<script>
import Packages from '@/components/Packages.vue';
import axios from 'axios';

export default {
   name: 'AddPackage',
   components: {
      Packages
   },
   data() {
      return {
         PackageList: []
      }
   },
   mounted() {
      axios
         .get('http://localhost:3000/Packages')
         .then(response => (this.PackageList = response.data));
   },
   computed: {
      packageCalculation() {
         let sum = 0;
         this.PackageList.forEach(Package => {
            if(Package.select) {
               sum += Package.cost
            }
         });
         return sum + "р.";
      }
   },
   methods: {
      changeStatus(id, cost, select) {
         axios
            .put(`http://localhost:3000/Packages/${id}`, {id: id, cost: cost, select: select})
            .then(response => this.PackageList.splice(id-1, 1, response.data));
         this.$emit('change-package', this.PackageList);
         
      }
   }
}
</script>

<style scoped lang="scss">
.wrapper {
   border: 1px solid black;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   margin-bottom: 15px;
   height: 60vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.header {
   background-color: #6e42bf;
   color: white;
   height: 45px;
   width: 100%;
   font-size: 20px;
   padding-left: 20px;
   padding-top: 5px;
}
.package {
   width: 50%;
}
input {
   border: 1px solid black;
   border-radius: 3px;
   height: 35px;
}
</style>