<template>
   <div class="wrapper">
      <div class="header">
         Базовая комплектация
      </div>
      <Equips
        v-for="(Equip, index) in EquipList" 
        :key="Equip.id"
        :index="index"
        v-bind="Equip"
      />
      <div class="cost">
         Стоимость:
         <input 
            type="text" 
            :value="equipCalculation"
            readonly
         />
      </div>
   </div>
</template>

<script>
import Equips from '@/components/Equips.vue';
import axios from 'axios';

export default {
   name: 'BasicEquip',
   components: {
      Equips,
   },
   data() {
      return {
         EquipList: [],
      }
   },
   mounted() {
      axios
        .get(' http://localhost:3000/Equips')
        .then(response => (this.EquipList = response.data));
   },
   computed: {
      equipCalculation() {
         let sum = 0;
         this.EquipList.forEach(Equip => {
            sum += Equip.cost
         });
         return sum + "р.";
      }
   }
}
</script>

<style scoped lang="scss">
.wrapper {
   border: 1px solid black;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   margin-bottom: 15px;
   height: 33vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.header {
   background-color: #6e42bf;
   color: white;
   height: 45px;
   width: 100%;
   font-size: 20px;
   padding-left: 20px;
   padding-top: 5px;
   margin-bottom: 15px;
}
.cost {
   margin-bottom: 15px;
}
input {
   border: 1px solid black;
   border-radius: 3px;
   height: 35px;
}
</style>