<template>
   <div class="calculation">
      <div class="header">
         <h1>Расчет стоимости автомобиля</h1> 
      </div>
      <BasicEquip class="checkList"/>
      <AddPackage
         :change-package="changePackage"
         class="checkList"
      />
      <div class="cost">
         Итоговая стоимость:
         <input 
            type="text" 
            :value="costCalculation" 
            readonly>
      </div>
  </div>
</template>

<script>
import BasicEquip from '@/components/BasicEquip.vue';
import AddPackage from '@/components/AddPackage.vue';
import axios from 'axios';

export default {
   name: 'Calculation',
   components: {
      BasicEquip,
      AddPackage
   },
   data() {
      return {
         equipSum: [],
         packageSum: []
      }
   },
   mounted() {
      axios
        .get('http://localhost:3000/Equips')
        .then(response => (this.equipSum = response.data));
      axios
        .get('http://localhost:3000/Packages')
        .then(response => (this.packageSum = response.data));
   },
   computed: {
      costCalculation() {
         let sum = 0;
         this.equipSum.forEach(Equip => {
            sum += Equip.cost
         });
         this.packageSum.forEach(Package => {
            if(Package.select) {
               sum += Package.cost
            }
         });
         return sum + "р.";
      }
   },
   methods: {
      changePackage(PackageList){
         this.packageSum = PackageList;
      }
   }
};
</script>

<style scoped lang="scss">
.calculation {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.cost {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   margin-top: 15px;
}
h1 {
  font-weight: normal;
  font-size: 30px;
  margin: 15px;
}
.checkList {
   width: 70%;
}
input {
   border: 1px solid black;
   border-radius: 3px;
   height: 35px;
}
</style>