<template>
   <div class="property">
      <ul>
         <li>
            Свойство {{ id }} ({{ cost }}р.)
         </li>
      </ul>
   </div>
</template>

<script>
export default {
   name: 'Equips',
   props: {
      id: {
         type: Number,
         default: 0
      },
      cost: {
         type: Number,
         default: 0
      }
   }
}
</script>

<style scoped lang="scss">
li {
   font-size: 14px;
}
.property {
   width: 100%;
}
</style>