<template>
   <div>
      <ul>
         <li>
            <label>
               Пакет {{ id }} ({{ cost }}р.)
               <input 
                  type="checkbox" 
                  v-model="select"
                  @change="checkboxStatus"
               />
            </label>
         </li>
      </ul>
   </div>   
</template>

<script>
export default {
   name: 'Packages',
   props: {
      id: {
         type: Number,
         default: 0
      },
      cost: {
         type: Number,
         default: 0
      },
      select: {
         type: Boolean
      }
   },
   methods: {
      checkboxStatus() {
         this.$emit('change-status', this.id, this.cost, this.select);
      },
   }
}
</script>

<style scoped lang="scss">
li {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}
</style>